<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>ConversationIA</name>
        <type>plugin</type>
        <creationDate>2025-01-06</creationDate>
        <lastUpdate>2026-07-21</lastUpdate>
        <author>LimeSurvey DSFR</author>
        <authorUrl>https://github.com/mef-snum-miweb/limesurvey-conversation-albert</authorUrl>
        <version>0.2.0</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[Extension tierce transformant une question Texte long en interface de conversation IA (Albert API ou compatible OpenAI). Installable par ZIP via l'UI d'administration LimeSurvey.]]></description>
    </metadata>
    <compatibility>
        <version>5</version>
        <version>6</version>
        <version>7</version>
    </compatibility>
</config>
